@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-4">

        <div class="form-group">
            <input type="hidden" id="pid" class="form-control" />
        </div>
        <div class="form-group">
            Enter Product Name:
            <input id="pname" class="form-control" />
        </div>
        <div class="form-group">
            Select Category
            <select asp="catid" id="catid" asp-items="@(new SelectList( ViewBag.Category,"catid","catname"))" class="form-control">
            </select>
        </div>
        <div class="form-group">
            Select Subcategory
            <select asp="subcatid" id="subcatid" class="form-control">
            </select>
        </div>
        <div class="form-group">
            Enter Price:
            <input id="price" class="form-control" />
        </div>
        <div class="form-group">
            Enter Quantity:
            <input id="pqty" class="form-control" />
        </div>
        <div class="form-group">
            <input type="button" id="saveupdate" value="Save" class="btn btn-primary" />
            <input type="button" id="btnclear" value="Clear" class="btn btn-primary" />
        </div>

    </div>
</div>
<table class="table" id="table_product">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Product Name
            </th>
            <th>
                Category Name
            </th>
            <th>
                Subcategory Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Product Quantity
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(window).on("load", function () {
        GetAllProducts();
    });

    $(document).ready(function () {
        $("#catid").change(function () {
            var id = $(this).val();
            $("#subcatid").empty();

            $.getJSON("/Home/SubCat_Bind", { catid: id }, function (data) {
                data = JSON.parse(data);
                var v = "";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#subcatid").html(v);
            });
        });
    })

    $("#saveupdate").click(function () {
        var prod = { pid: $("#pid").val(), pname: $("#pname").val(), catid: $("#catid").val(), subcatid: $("#subcatid").val(), price: $("#price").val(), pqty: $("#pqty").val() };
        $.post("/Home/Create", prod, function () {
            alert("Data Inserted")
            GetAllProducts();
        });
    });

    function GetAllProducts() {
        $("#table_product tbody tr").remove();

        $.getJSON("/Home/GetProducts", function (data) {
            data = JSON.parse(data);
            $.each(data, function (i, prod) {
                $("#table_product tbody").append(
                    `<tr><td>` + prod.pid + `</td><td>` + prod.pname + `</td><td>` + prod.catname + `</td><td>` + prod.subcatname + `</td><td>` + prod.price + `</td><td>` + prod.pqty + `</td><td><button class="btn btn-primary" onclick="Edit(` + prod.pid + `)">Edit</button>&nbsp;&nbsp;<button class="btn btn-primary" onclick="Delete(` + prod.pid + `)">Delete</button></td></tr>>`
                );
            });
        });
    }

    function Edit(pid) {
        $.get("/Home/Edit", { pid: pid }, function (data) {
            prod = data;
            $("#pid").val(prod.pid);
            $("#pname").val(prod.pname);
            $("#price").val(prod.price);
            $("#pqty").val(prod.pqty);
        });
    }

    function Delete(pid) {
        $.post("Home/Delete", { pid: pid }, function () {
            alert("Data Deleted");
            GetAllProducts();
        });
    }
</script>